@import '~node_modules/breakpoint-sass/stylesheets/_breakpoint';
@mixin transition($property: all, $time: 400ms, $method: ease-in-out) {
  transition: $property $time $method;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin aig-table {
  display: flex;

  table {
    max-width: 823px;
    border: 1px solid $border-light-purple;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;

    .table-header {
      color: white;
      background-color: $button-purple;
      height: 50px;
    }

    tr {
      td {
        align: center;
        padding: 19px 17px 19px 17px;
        max-width: 250px;
        word-wrap: break-word;
        border-bottom: 1px solid $border-light-purple;
        border-right: 1px solid $border-light-purple;
      }
      th {
        font-weight: 400;
        word-wrap: break-word;
        padding: 0 10px 0 10px;
      }
    }
  }
}

@mixin aig-header {
  .back-button {
    height: 26px;
    width: 26px;
    margin-right: 10px;

    img {
      height: 22px;
    }
  }

  .back-button:hover {
    cursor: pointer;
  }

  .dataset-title {
    display: flex;
    align-items: center;
    padding: 35px;
    h3 {
      line-height: 26px;
      margin: 0;
      max-width: calc(100% - 36px);
      word-wrap: break-word;
    }
  }

  .header-title-container {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #135cb2, #83b4ed);
    color: white;
    padding: 49px 55px 49px 55px;
    align-items: center;

    p,
    span,
    h1 {
      color: white;
      max-width: 100%;
      word-wrap: break-word;
    }

    p {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.4px;
      font-family: $font-secondary;
    }

    .header-right-section {
      height: 178px;
      width: 178px;
      min-width: 178px;
      border-radius: 50%;
      box-shadow: 0 8px 16px 0 rgba(32, 62, 94, 0.5);
      background-color: $light-blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      font-family: $font-secondary;
      .text-small {
        align-self: center;
        width: 100%;
        text-align: center;
      }

      > span {
        width: 100%;
        padding: 0 20px;
        text-align: center;
      }
    }

    .header-left-section {
      max-width: 70%;
      margin-right: 20px;
    }

    .author {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: 100px) and (max-width: 710px) {
    .header-title-container {
      flex-direction: column;
      padding: 35px;
      text-align: center;

      .header-right-section {
        margin: 20px auto;
      }

      .header-left-section {
        max-width: 100%;
        margin-right: 0;

        h1 {
          font-size: 24pt;
        }
      }

      .author {
        text-decoration: underline;
        margin-right: 18px;
      }

      .date {
        word-wrap: break-word;
      }
    }
  }
}

@mixin policy-data {
  .policy-data {
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
      height: 38px;
      display: flex;
      flex-direction: row;
      font-size: 24px;
      border-bottom: 1px dotted #c8d1f1;
      font-weight: 400;
      line-height: 38px;

      &:first-child {
        border-top: 1px dotted #c8d1f1;
      }
    }

    label {
      font-weight: 300;
      flex-grow: 1;
      font-size: 16px;
    }

    .text-medium {
      line-height: 44px;
      margin-left: 5px;
      font-weight: 300;
    }
  }
}
