// Fade transition
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 150ms;
}

.fade-enter-active {
  transition-delay: 150ms;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// Slide Down transition
.slideDown-enter-active,
.slideDown-leave-active {
  transition-property: all;
  transition-duration: 200ms;
}

.slideDown-enter-active {
  transition-delay: 200ms;
}

.slideDown-enter,
.slideDown-leave-active {
  transform: translateY(-10px);
  opacity: 0;
}

// Slide Up Transition
.slideUp-enter-active,
.slideUp-leave-active {
  transition-property: all;
  transition-duration: 200ms;
}

.slideUp-enter-active {
  transition-delay: 200ms;
}

.slideUp-enter,
.slideUp-leave-active {
  transform: translateY(15px);
  opacity: 0;
}

// List transition
.list-enter-active,
.list-leave-active {
  transition-property: all;
  transition-duration: 200ms;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(15px);
}
