// fonts
$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Saira Semi Condensed', sans-serif;

// Colors
$gray: #f3f5f7;
$black: #000;

$purple: #6b3abd;
$green: #10bf26;
$red: #da1c38;


$blue-light: #66d5e0;
