// all variables list https://github.com/ElementUI/theme-chalk/blob/master/src/common/var.scss

$--color-primary: $orange;
$--color-info: $purple;

$--size-base: 13px !default;
$--border-radius-base: 2px;

$--font-path: '~element-ui/lib/theme-chalk/fonts';