// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$gray: #dcdfe6;
$black: #000;

$green: #10bf26;
$red: #da1c38;


$blue-light: #66d5e0;


// new variables
$purple: #4f3b8e;
$orange: #e0b803;
$active-dark-purple: #423176;
$white: #ffffff;
