<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <staticContent>-->
        <!--    <mimeMap fileExtension="." mimeType="application/octet-stream" />-->
        <!--</staticContent>-->
        <rewrite>
            <rules>
                <rule name="Redirect to https">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="Off"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
                </rule>
                <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>

        <security>
            <!-- Full Dynamic IP Restriction Documentation: http://www.iis.net/learn/get-started/whats-new-in-iis-8/iis-80-dynamic-ip-address-restrictions -->
            <dynamicIpSecurity>                <!-- Change status code by adding the attribute: denyAction="[AbortRequest | Forbidden | NotFound | Unauthorized]" -->
                <!-- Scenario #1: Deny by Concurrent Requests -->
                <denyByConcurrentRequests enabled="true" maxConcurrentRequests="80"/>
                <!-- Scenario #2: Deny by Request Rate -->
                <denyByRequestRate enabled="true" maxRequests="80" requestIntervalInMilliseconds="2000"/>
                <!-- Scenario #3: Combine Deny by Request Rate & Deny by Concurrent Requests -->
            </dynamicIpSecurity>
        </security>

    </system.webServer>
</configuration>