@import '~helpers/reset';
@import '~helpers/mixins';
@import '~helpers/variables';
@import '~helpers/transitions';

body.aig {
  display: flex;
  font-family: $font-primary;
  overflow-y: scroll;
}

.aig-app {
  width: 100%;
  @include breakpoint(max-width 768px) {
    // todo: compose menu items
  }
}

.aig-container {
  @include clearfix;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  backg .aig-view {
    width: 100%;
  }
  .aig-container {
    max-width: 1440px;
  }
  &.aig-view {
    background: url('/static/background/background_pattern.svg');
    background-size: 274px;
    background-clip: content-box;
    background-repeat: repeat;
    text-align: left;
  }
  .aig-data-menu {
    height: 100%;
    width: 200px;
    background: white;
  }
}

.aig-card-container {
  @include clearfix;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  background: transparent;
}

.aig-logo {
  display: block;
  img {
    display: inline-block;
    vertical-align: middle;
    width: 86px;
    height: 27px;
    width: auto;
  }
}

.aig-items {
  margin-top: 15px;
  .el-col {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.aig-card-container h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.aig-card-container button,
.aig-button {
  margin-top: 15px;
  width: 100%;
}

.aig-medium-button {
  margin-top: 15px;
  width: 50%;
}

.aig-card-input,
.aig-card-input input {
  border-radius: 2px;
}

.aig-card-input .input_label {
  margin-bottom: 10px;
}

.aig-card-input .label {
  font-size: 16px;
}

.aig-footer-contrainer .label,
.aig-footer-container-right .label {
  font-size: 14px;
}

.guest-card {
  width: 932px;
  margin-top: 48px;
  .label {
    font-size: 16px;
  }
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: $gray;
}

.a-active,
.a-passive {
  transition: all 100ms;
  &:hover {
    cursor: pointer;
  }
}

.aig-checkbox {
  height: 34px;
  display: block;
}

.aig-checkbox .el-checkbox__inner {
  height: 24px;
  width: 24px;
  border-radius: 0;
  &:hover {
    border-color: $gray;
  }
}

.aig-checkbox .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: $green;
  border-color: $green;
}

.aig-checkbox .el-checkbox__inner::after {
  height: 12px;
  left: 9px;
  top: 3px;
}

.aig-checkbox .el-checkbox__label {
  color: $active-dark-purple !important;
}

.checkbox-description {
  margin: 0 0 0 35px;
  line-height: 20px;
  color: $dark-gray;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
